<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dkhs.portfolio"
    android:versionCode="5"
    android:versionName="0.7.2" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <application
        android:name=".app.PortfolioApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" -->

        <activity
            android:name="com.dkhs.portfolio.ui.SplashActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <activity android:name="com.dkhs.portfolio.ui.MainActivity" /> -->
        <activity
            android:name="com.dkhs.portfolio.ui.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name="com.dkhs.portfolio.ui.NoAccountMainActivity" />
        <activity android:name="com.dkhs.portfolio.ui.RLFActivity" />
        <activity android:name="com.dkhs.portfolio.ui.SetPasswordActivity" />
        <activity android:name="com.dkhs.portfolio.ui.RegisterSuccessActivity" />
        <activity android:name="com.dkhs.portfolio.ui.GuideActivity" />
        <activity android:name="com.dkhs.portfolio.ui.AboutUsActivity" />
        <activity android:name="com.dkhs.portfolio.ui.LoginActivity" />
        <activity android:name="com.dkhs.portfolio.ui.FindPasswrodActivity" />
        <activity android:name="com.dkhs.portfolio.ui.SettingActivity" />
        <activity android:name="com.dkhs.portfolio.ui.MyCombinationActivity" />
        <activity
            android:name="com.dkhs.portfolio.ui.PositionAdjustActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.dkhs.portfolio.ui.SelectStockActivity" />
        <activity android:name="com.dkhs.portfolio.ui.SelectFundActivity" />
        <activity android:name="com.dkhs.portfolio.ui.OptionalStockListActivity" />
        <activity android:name="com.dkhs.portfolio.ui.SelectAddOptionalActivity" />
        <activity android:name="com.dkhs.portfolio.ui.MarketCenterActivity" />
        <activity android:name="com.dkhs.portfolio.ui.OptionMarketNewsActivity" />
        <activity android:name="com.dkhs.portfolio.ui.SettingNameActivity" />
        <activity android:name="com.dkhs.portfolio.ui.VerificationActivity" />
        <activity android:name="com.dkhs.portfolio.ui.NewsActivity" />
        <activity android:name="com.dkhs.portfolio.ui.FundsOrderActivity" />
        <activity android:name="com.dkhs.portfolio.ui.ForgetPswActivity" />
        <activity android:name="com.dkhs.portfolio.ui.YanBaoActivity" />
        <activity android:name="com.dkhs.portfolio.ui.CompareForPublicSettingActivity" />
        <activity android:name="com.dkhs.portfolio.ui.SettingPasswordOnSettingActivity" />
        <activity android:name="com.dkhs.portfolio.ui.UserNameChangeActivity" />
        <activity android:name="com.dkhs.portfolio.ui.YanbaoNewsActivity" />
        <activity android:name="com.dkhs.portfolio.ui.OrderFundDetailActivity" />
        <activity android:name="com.dkhs.portfolio.ui.UserCombinationActivity" />
        <activity android:name="com.dkhs.portfolio.ui.FeedBackActivity" />
        <activity android:name="com.dkhs.portfolio.ui.CombinationUserActivity" />
        <activity android:name="com.dkhs.portfolio.ui.PersonSignSettingActivity" />
        <activity android:name="com.dkhs.portfolio.ui.OptionEditActivity" />
        <activity android:name="com.dkhs.portfolio.ui.BoundAccountActivity" />
        <activity android:name="com.dkhs.portfolio.ui.ChangeCombinationNameActivity" />
        <activity android:name="com.dkhs.portfolio.ui.PrivacySettingActivity" />
        <activity android:name="com.dkhs.portfolio.ui.OptionListAcitivity" />
        <activity android:name="com.dkhs.portfolio.ui.ReportForOneListActivity" />
        <activity android:name="com.dkhs.portfolio.ui.EveryDayValueActivity" />
        <activity android:name="com.dkhs.portfolio.ui.BoundEmailActivity" />
        <activity
            android:name="com.dkhs.portfolio.ui.FeedBackDialog"
            android:theme="@style/MyDialogStyleBottom" />
        <activity
            android:name="com.dkhs.portfolio.ui.CopyMessageDialog"
            android:theme="@style/MyDialogStyleBottom" />
        <activity
            android:name="com.dkhs.portfolio.ui.StockQuotesActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PageIndicatorDefaults" >
        </activity>
        <activity
            android:name="com.dkhs.portfolio.ui.CombinationDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dkhs.portfolio.ui.BaseSelectActivity"
            android:theme="@style/Theme.PageIndicatorDefaults"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="cn.sharesdk.framework.ShareSDKUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >

            <!--
            	AuthorizeAdapter表示一个继承自cn.sharesdk.framework.authorize.AuthorizeAdapter
            	的类，这个类可以监听到页面的生命周期，也可以获取授权页面的各种UI控件。 
            	开发者可以通过继承AuthorizeAdapter，重写其方法，并获取各种UI来自定义这个页面的行为。
            -->
            <meta-data
                android:name="AuthorizeAdapter"
                android:value="cn.sharesdk.demo.MyAdapter" />

            <!--
            	QZoneWebShareAdapter表示一个继承自cn.sharesdk.tencent.qzone.QZoneWebShareAdapter
            	的类，这个类可以监听到页面的生命周期，也可以获QQ空间网页分享权页面的各种UI控件。 
            	开发者可以通过继承QZoneWebShareAdapter，重写其方法，并获取各种UI来自定义这个页面的行为。
            -->
            <meta-data
                android:name="QZoneWebShareAdapter"
                android:value="cn.sharesdk.demo.MyQZoneWebShareAdapter" />
            <!--
            	Dropbox的SSO功能需要在此处添加一个对ACTION_VIEW事件的过滤器，其中的scheme是
            	“db-”前缀再开发者应用的加上appKey。如果此过滤器不设置，则不能完成SSO功能授权
            -->
            <intent-filter>
                <data android:scheme="db-7janx53ilz11gbs" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!--
            	如果集成QQ分享，或者使用QQ客户端来进行QQ空间的分享，须要在此处添加一个对ACTION_VIEW
            	事件的过滤器，其中的scheme是“tencent”前缀再开发者应用的加上appId。如果此过滤器不设置，
            	则分享结束以后不能得到正确的回调
            -->
            <intent-filter>
                <data android:scheme="tencent1103511496" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <!-- 微信分享回调 -->
        <activity
            android:name="com.dkhs.portfolio..wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver android:name="com.dkhs.portfolio.ui.CompleteReceiver" >
            <intent-filter android:priority="1000" >

                <!-- 设置最高优先级 -->

                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <service android:name="com.dkhs.portfolio.service.LoadStockToDBService" />
    </application>

</manifest>