<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dkhs.portfolio">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".app.PortfolioApplication"
        android:allowBackup="true"
        android:allowTaskReparenting="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTranslucentTheme">

        <!-- 百度统计  start -->
        <!-- 您从百度网站获取的APP KEY -->
        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="d1bcd33a6e" />

        <!-- 渠道商编号 -->
        <meta-data
            android:name="BaiduMobAd_CHANNEL"
            android:value="DKHS" />

        <!-- 是否开启错误日志统计，默认为false -->
        <meta-data
            android:name="BaiduMobAd_EXCEPTION_LOG"
            android:value="true" />
        <!-- 日志发送策略，可选值：APP_START、ONCE_A_DAY、SET_TIME_INTERVAL，默认为APP_START -->
        <meta-data
            android:name="BaiduMobAd_SEND_STRATEGY"
            android:value="APP_START" />
        <!-- 日志发送策略 为SET_TIME_INTERVAL时，需设定时间间隔(取消下行注释)。取值为1-24的整数，默认为1 -->
        <!-- <meta-data android:name="BaiduMobAd_TIME_INTERVAL" android:value="2" /> -->
        <!-- 日志仅在wifi网络下发送，默认为false -->
        <meta-data
            android:name="BaiduMobAd_ONLY_WIFI"
            android:value="false" />

        <!-- 百度统计  end -->


        <!-- 友盟统计  start -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="54850a5cfd98c5755f000e12" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="DKHS_test" />
        <!-- android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" -->


        <!-- 友盟统计 end -->
        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoBackgroud">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <activity android:name="com.dkhs.portfolio.ui.MainActivity" /> -->
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme" />
        <activity android:name=".ui.RLFActivity" />
        <activity android:name=".ui.SetPasswordActivity" />
        <activity android:name=".ui.RegisterSuccessActivity" />
        <activity
            android:name=".ui.GuideActivity"
            android:theme="@style/AppThemeNoBackgroud" />
        <activity android:name=".ui.AboutUsActivity" />

        <!-- fixbug:快速连续点击自选中的提示设置图标，出现多个登录页 -->
        <activity
            android:name=".ui.LoginActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.FindPasswrodActivity" />
        <activity android:name=".ui.SettingActivity" />
        <activity
            android:name=".ui.MyCombinationActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.PositionAdjustActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <!-- 综合搜索 -->
        <activity android:name=".ui.SelectGeneralActivity" />
        <activity
            android:name=".ui.SelectSearchMoreLoadMoreListActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".ui.SelectStockActivity" />
        <activity android:name=".ui.SelectFundActivity" />
        <activity android:name=".ui.OptionalStockListActivity" />
        <activity android:name=".ui.SelectAddOptionalActivity" />
        <activity android:name=".ui.NoticesActivity" />
        <activity android:name=".ui.SettingNameActivity" />
        <activity android:name=".ui.VerificationActivity" />
        <activity android:name=".ui.NewsActivity" />
        <activity android:name=".ui.EditTabFundActivity" />
        <activity android:name=".ui.ForgetPswActivity" />
        <activity android:name=".ui.YanBaoActivity" />
        <activity android:name=".ui.ModifyPswActivity" />
        <activity android:name=".ui.ModifyUNameActivity" />
        <activity android:name=".ui.YanbaoDetailActivity" />
        <activity
            android:name=".ui.FeedBackActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".ui.UserHomePageActivity" />
        <activity android:name=".ui.ModifyUserSignActivity" />
        <activity android:name=".ui.EditTabStockActivity" />
        <activity
            android:name=".ui.BoundAccountActivity"
            android:launchMode="singleTop" />
        <activity android:name=".ui.ModifyComNameActivity" />
        <activity android:name=".ui.ModifyPrivacyActivity" />
        <activity android:name=".ui.OptionListAcitivity" />
        <activity android:name=".ui.ReportForOneListActivity" />
        <activity android:name=".ui.EveryDayValueActivity" />
        <activity android:name=".ui.BoundEmailActivity" />
        <activity android:name=".ui.MarketListActivity" />
        <activity android:name=".ui.HistoryPositionDetailActivity" />
        <activity android:name=".ui.EditTabCombinationActivity" />
        <activity android:name=".ui.AgreementTextActivity" />
        <activity android:name=".ui.OptionalTabActivity" />
        <activity android:name=".ui.AdActivity" />
        <activity android:name=".ui.InviteFriendsActivity" />
        <activity android:name=".ui.InviteHistoryActivity" />
        <activity android:name=".ui.FundDetailActivity" />
        <activity
            android:name=".ui.LoginRegisterAcitvity"
            android:theme="@style/AppThemeNoBackgroud" />
        <activity
            android:name=".ui.StockRemindActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".ui.FAQTextActivity" />
        <activity
            android:name=".ui.FeedBackDialog"
            android:theme="@style/MyDialogStyleBottom" />
        <activity
            android:name=".ui.PickupPhotoActivity"
            android:theme="@style/MyDialogStyleBottom" />
        <activity
            android:name=".ui.ChangeCheckType"
            android:theme="@style/MyDialogStyleBottom" />
        <activity
            android:name=".ui.GettingUrlForAPPActivity"
            android:theme="@style/MyDialogStyleBottom" />
        <activity
            android:name=".ui.StockQuotesActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.StockLandActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".ui.SelectStatusStockActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CombinationDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CompareFundsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CombinationNewsActivity"
            android:screenOrientation="portrait" />
        <!--
                    <activity
                    android:name="com.dkhs.portfolio.ui.BaseSelectActivity"
                    android:theme="@style/Theme.PageIndicatorDefaults"
                    android:windowSoftInputMode="stateHidden" />
        -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <!--
            	AuthorizeAdapter表示一个继承自cn.sharesdk.framework.authorize.AuthorizeAdapter
            	的类，这个类可以监听到页面的生命周期，也可以获取授权页面的各种UI控件。 
            	开发者可以通过继承AuthorizeAdapter，重写其方法，并获取各种UI来自定义这个页面的行为。
            -->
            <meta-data
                android:name="AuthorizeAdapter"
                android:value="cn.sharesdk.demo.MyAdapter" />

            <!--
            	QZoneWebShareAdapter表示一个继承自cn.sharesdk.tencent.qzone.QZoneWebShareAdapter
            	的类，这个类可以监听到页面的生命周期，也可以获QQ空间网页分享权页面的各种UI控件。 
            	开发者可以通过继承QZoneWebShareAdapter，重写其方法，并获取各种UI来自定义这个页面的行为。
            -->
            <meta-data
                android:name="QZoneWebShareAdapter"
                android:value="cn.sharesdk.demo.MyQZoneWebShareAdapter" />
            <!--
            	Dropbox的SSO功能需要在此处添加一个对ACTION_VIEW事件的过滤器，其中的scheme是
            	“db-”前缀再开发者应用的加上appKey。如果此过滤器不设置，则不能完成SSO功能授权
            -->
            <intent-filter>
                <data android:scheme="db-7janx53ilz11gbs" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!--
            	如果集成QQ分享，或者使用QQ客户端来进行QQ空间的分享，须要在此处添加一个对ACTION_VIEW
            	事件的过滤器，其中的scheme是“tencent”前缀再开发者应用的加上appId。如果此过滤器不设置，
            	则分享结束以后不能得到正确的回调
            -->
            <intent-filter>
                <data android:scheme="tencent1103511496" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver android:name=".receiver.CompleteReceiver">
            <intent-filter android:priority="1000">

                <!-- 设置最高优先级 -->

                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ui.messagecenter.MessageReceive"
            android:exported="false">
            <intent-filter>
                <action android:name="com.dkhs.portfolio.SENDMESSAGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.MessageNotificationClickReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.dkhs.portfolio.NotificationClick" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".service.LoadStockToDBService" />
        <service
            android:name=".service.ReLoadDataService"
            android:exported="false" />
        <service
            android:name=".service.PostTopicService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.dkhs.posttopic.service.action.upload" />
            </intent-filter>
        </service>

        <meta-data
            android:name="RONG_CLOUD_APP_KEY"
            android:value="${RONG_CLOUD_KEY}" />

        <!--
                <meta-data
                    android:name="RONG_CLOUD_APP_KEY"
                    android:value="k51hidwq1fqzb" />
        -->

        <activity
            android:name=".ui.RCChatListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="${PACKAGE_NAME}"
                    android:path="/conversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.RCChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="${PACKAGE_NAME}"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.RCChatSettingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="${PACKAGE_NAME}"
                    android:pathPrefix="/conversationsetting/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.FriendsOrFollowersActivity" />

        <!-- start Rong Cloud -->
        <activity
            android:name="io.rong.voipkit.activity.CallSideActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="${PACKAGE_NAME}"
                    android:pathPrefix="/VoIPCall"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.rong.voipkit.activity.CalledSideActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="${PACKAGE_NAME}"
                    android:pathPrefix="/VoIPAccept"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.rong.imkit.RongActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.rong.imkit.tools.SelectPictureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.rong.imkit.tools.PreviewPictureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.rong.imkit.tools.RongWebviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.rong.imkit.widget.provider.TakingPicturesActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="io.rong.imlib.ipc.RongService"
            android:process=":ipc" />
        <service android:name="io.rong.imlib.ReConnectService" />

        <receiver android:name="io.rong.imlib.ipc.PushMessageReceiver">
            <intent-filter>
                <action android:name="io.rong.push.message" />
            </intent-filter>
        </receiver>

        <!-- End Rong Cloud -->

        <receiver
            android:name=".receiver.NetChangeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.MarketSubpageActivity"
            android:theme="@style/StyledIndicators" />
        <activity
            android:name=".ui.FundManagerActivity"
            android:label="@string/title_activity_fund_manager" />
        <activity
            android:name=".ui.FlowPackageActivity"
            android:label="@string/flow_package" />
        <activity
            android:name=".ui.ExchangeActivity"
            android:label="@string/title_flow_exchange" />
        <activity
            android:name=".ui.InviteCodeActivity"
            android:label="@string/title_invite_friend" />
        <activity android:name=".ui.ShakeActivity" />
        <activity
            android:name=".ui.BBSActivity"
            android:label="@string/title_activity_bbs" />
        <activity
            android:name=".ui.PhotoViewActivity"
            android:label="@string/title_activity_photo_view" />
        <activity
            android:name=".ui.PostTopicActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.StatusActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.MyDraftActivity"
            android:label="@string/title_my_draft" />
        <activity
            android:name=".ui.TopicsDetailActivity"
            android:label="@string/title_activity_topics_detail" />
        <activity
            android:name=".ui.InfoActivity"
            android:label="@string/title_activity_info" />
        <activity
            android:name=".ui.UserTopicsActivity"
            android:label="@string/title_activity_my_topics" />
        <activity android:name=".ui.CombinationListActivity" />
        <activity
            android:name=".ui.StatusReportActivity"
            android:label="@string/title_status_report" />
        <activity
            android:name=".ui.ReplyActivity"
            android:label="@string/mine_reply" />

        <activity
            android:name=".ui.CommentMeActivity"
            android:label="@string/title_activity_comment_me" />
        <activity
            android:name=".ui.CallMeActivity"
            android:label="@string/title_activity_call_me" />
        <activity
            android:name=".ui.SelectFriendActivity"
            android:label="@string/title_pickup_user"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.TestActivity" />


        <activity
            android:name=".ui.pickphoto.PhotoPickerActivity"
            android:label="@string/title_picker_photo" />
        <activity
            android:name=".ui.MyTopicActivity"
            android:label="@string/info_title_mypost" />
        <!--<activity-->
        <!--android:name=".ui.ZWMTestActivity"-->
        <!--android:theme="@style/Theme.AppCompatRed"-->
        <!--android:label="@string/title_activity_zwmtest" >-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->
        <!--<category android:name="android.intent.category.LAUNCHER" />-->
        <!--</intent-filter>-->
        <!--</activity>-->
        <activity android:name=".ui.ExchangeHistoryActivity" />
        <activity
            android:name=".ui.MyPurseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MyRewardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.RechargeActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wx89557ae58e44573a" />
            </intent-filter>
        </activity>

        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <!-- alipay sdk end -->

        <receiver android:name="net.sourceforge.simcpux.AppRegister">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>
        <!-- weixin callback -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <!-- weixin -->

        <activity
            android:name=".ui.MyAssestsActivity"
            android:label="@string/my_assets" />
        <activity
            android:name=".ui.BankCardNoActivity"
            android:label="@string/my_assets" />
        <activity android:name=".ui.MyBankCardsActivity" />
        <activity
            android:name=".ui.BankCardInfoActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.TradePasswordSettingActivity"
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan" />
        <activity android:name=".ui.TradeRecordActivity" />
        <activity android:name=".ui.MyFundsActivity" />
        <activity android:name=".ui.FundInfoActivity" />
        <activity android:name=".ui.BuyFundActivity" />
        <activity android:name=".ui.SellFundActivity" />
        <activity android:name=".ui.SellFundInfoActivity" />
        <activity android:name=".ui.BuyFundInfoActivity" />
        <activity android:name=".ui.TradeSettingActivity" />
        <activity android:name=".ui.ResetTradePasswordActivity" />
        <activity android:name=".ui.ForgetTradePasswordActivity" />
        <activity android:name=".ui.ChooseBankActivity" />
        <activity android:name=".ui.GesturePasswordActivity" />
        <activity android:name=".ui.VerifyLoginPasswordActivity" />

        <!-- ChinaPay plugin begin -->
        <activity
            android:name="com.hxcr.chinapay.activity.Initialize"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/cp_Animation"></activity>
        <activity

            android:name="com.hxcr.chinapay.activity.InfoMain"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/cp_Animation"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.hxcr.chinapay.activity.ResultInfo"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/cp_Animation"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.hxcr.chinapay.activity.HelpMain"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/cp_Animation"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.hxcr.chinapay.activity.SustainBankList"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/cp_Animation"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.hxcr.chinapay.activity.SubmitSujestion"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/cp_Animation"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- Chinapay plugin end -->

        <activity
            android:name=".ui.WithDrawActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ShakeDetectorActivity"
            android:label="@string/title_activity_shake_detector"
            android:parentActivityName=".ui.BaseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dkhs.portfolio.ui.BaseActivity" />
        </activity>
        <activity
            android:name=".ui.BetterRecruitActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.PersonalIntroduceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.city.SelectCityActivity"
            android:label="@string/title_activity_select_city"
            android:parentActivityName=".ui.ModelAcitivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dkhs.portfolio.ui.ModelAcitivity" />
        </activity>
        <activity
            android:name=".ui.city.SelectProviceActivity"
            android:label="@string/title_activity_select_provice"
            android:parentActivityName=".ui.ModelAcitivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dkhs.portfolio.ui.ModelAcitivity" />
        </activity>
        <activity
            android:name=".ui.OrganizationActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.VerifiedProFileActivity" />
        <!--个股新闻,公告,研报-->
        <activity
            android:name=".ui.StockNewsActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".service.AuthenticationService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.dkhs.authenticationService.action.upload" />
            </intent-filter>
        </service>
        <service
            android:name=".service.PreLoadService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>
